@font-face {
	font-family: 'worksans';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: 
		url('../fonts/Worksans-Light.woff2') format('woff2'),
		url('../fonts/Worksans-Light.woff') format('woff');
}

@font-face {
	font-family: 'worksans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: 
		url('../fonts/Worksans-Regular.woff2') format('woff2'),
		url('../fonts/Worksans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'worksans';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: 
		url('../fonts/Worksans-Medium.woff2') format('woff2'),
		url('../fonts/Worksans-Medium.woff') format('woff');
}

@font-face {
	font-family: 'worksans';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: 
		url('../fonts/Worksans-SemiBold.woff2') format('woff2'),
		url('../fonts/Worksans-SemiBold.woff') format('woff');
}

