html,
body {
	height: 100%;
}

body {
	font-weight: 400;
	@extend %worksans;
	color: $main-color;
	background-color: $white;
	font-size: 16px;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
}

path {
	transition: opacity 0.5s;
}

button {
	padding-left: 0;
	padding-right: 0;
}

section {
	margin-bottom: 190px;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1480px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-title {
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
}

.title {
	font-weight: 400;
	font-size: 26px;
	text-align: left;
}

.logo {
	object-fit: cover;
}

.button {
	background-color: $main-color;
	color: $white;
	padding-top: 16px;
	padding-bottom: 15px;
	width: 100%;
	text-transform: uppercase;
	border: 1px solid transparent;
	transition: border-color 0.5s, color 0.5s, background-color 0.5s;

	&--white {
		background-color: $white;
		color: rgba($main-color, 0.5);
		border-color: $grey-2;
		text-transform: capitalize;
	}

	&:hover {
		border-color: $main-color;
		color: $main-color;
		background-color: $white;
	}
}


.opacity {
	&::before {
		content: '';
		z-index: 15;
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.15);
		top: 0;
	}
}

.hidden {
	overflow: hidden;
}

