.breadcrumbs {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	&__list {
		display: inline-flex;
	}

	&__item {
		position: relative;
		padding-right: 25px;

		&:not(:last-child) {
			&::before {
				content: '—';
				position: absolute;
				right: 4px;
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}

	&__link {
		color: rgba(0, 0, 0, 0.5);

		&--active {
			color: $main-color;
		}
	}
}
