.card {

	&__link {
		width: 100%;
		height: 100%;
		margin-bottom: 23px;
		display: block;

		&:hover {
			.card__backside {
				font-size: 26px;
				background-color: $white;
				border-color: $main-color;
			}
		}
	}

	&__photo {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 8px;
	}

	&__backside {
		font-size: 0;
		text-transform: uppercase;
		font-weight: 500;
		position: absolute;
		text-align: center;
		width: 100%;
		height: 100%;
		border: 4px solid transparent;
		background-color: transparent;
		display: flex;
		justify-content: center;
		top: 0;
		align-items: center;
		transition: font-size 0.5s, border-color 0.5s, background-color 0.5s;
	}

	&__link {
		text-decoration: underline;
	}
}