.catalog {

	&__fillter {
		display: flex;
		justify-content: space-between;
		margin-bottom: 21px;
	}

	&__item {
		display: flex;
	}

	&__category,
	&__select {
		position: relative;
		padding-right: 25px;

		&::before {
			content: '+';
			color: $main-color;
			font-weight: 500;
			position: absolute;
			font-size: 21px;
			right: 0;
			top: -3px;
		}

		&--active {
			&::before {
				content: '—';
				font-size: 15px;
				top: 0;
			}
		}

		&--color {
			margin-right: 50px;
		}

		&--size {
			margin-right: 44px;
		}

		&--sort {
			position: relative;
		}
	}

	&__card {

		&--hidden {
			display: none;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 46px 25px;
		margin-bottom: 96px;
	}

	&__bottom {
		display: flex;
		justify-content: center;
	}

	&__btn {
		max-width: 225px;

		&.hide {
			display: none;
		}
	}
}

