.filter-color {
	position: absolute;
	width: 720px;
	min-height: 264px;
	background-color: $white;
	border: 1px solid rgba($main-color, 0.2);
	z-index: 4;
	bottom: 116px;
	transform: translateX(-500%);
	opacity: 0;
	transition: transform 0.5s, opacity 0.8s linear;

	&--active {
		opacity: 1;
		transform: translateX(0);
	}

	&__main {
		padding: 25px 23px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px 105px;
		margin-bottom: 55px;
	}

	&__label {
		display: flex;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	&__text {
		font-size: 13px;
		padding-left: 25px;
		position: relative;
	}

	&__box {
		position: absolute
	}

	&__input {
		@extend %checkbox-hidden;

		&:checked + .filter-color__checkbox{
			background-image: url('../images/icons/checkbox.svg');
			background-repeat: no-repeat;
			background-position: center;
			fill: #fff;
		}
	}

	&__checkbox {
		width: 15px;
		height: 15px;
		position: absolute;
		right: -15px;
		bottom: -16px;


		&--beiges {
			background-color: $beiges;
		}

		&--khaki {
			background-color: $khaki;
		}

		&--pinks {
			background-color: $pinks;
		}

		&--metallic {
			background-color: $metallic;
		}

		&--purple {
			background-color: $purple;
		}

		&--black {
			background-color: $main-color;
		}

		&--blues {
			background-color: $blues;
		}

		&--yellow {
			background-color: $yellow;
		}

		&--brown {
			background-color: $brown;
		}

		&--mustard {
			background-color: $mustard;
		}

		&--red {
			background-color: $red;
		}

		&--green {
			background-color: $green;
		}

		&--orange {
			background-color: $orange;
		}

		&--grey {
			background-color: $grey;
		}
	}

	&__bottom {
		display: flex;
	}
}
