.recommendations {

	&__title {
		margin-bottom: 40px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin: 0 -13px;
	}

	.slick-arrow {
		position: absolute;
		top: -76px;
		z-index: 5;
	}
		
	.arrow-left {
		right: 10px;
	}
		
	.arrow-right {
		right: 100px;
	}

	.slick-slide {
		padding: 0 13px;
	} 
}

